<footer>
    <div class="row footer-social">
      <div class="col-md-6">
        <br />
        <p><span><strong>E-mail: </strong></span>boxedegaragempoa@gmail.com</p>
        <p><span><strong>Celular: </strong></span>+55 (11) 95709-4829</p>
      </div>
      <div class="col-md-6">
        <div>
          <a href="https://www.instagram.com/boxedegaragem/" target="_blank">
            <img src="./assets/img/icones/instagram.jpg" alt="" srcset="">
          </a>
          <a href="https://www.youtube.com/channel/UCPhD23rNjOVHIULUHF9u1XA" target="_blank">
            <img src="./assets/img/icones/youtube.jpg" alt="" srcset="">
          </a>
        </div>
      </div>
    </div>
  </footer>