footer {
    margin-top: 2rem;
    width: 90%;
    height: 6rem;
    /* margin-bottom: 1rem; */
    background-image: linear-gradient(to right, #5d5d5d, #fff);
    overflow: hidden;
}

.footer-social {
    /* display: flexbox; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.footer-social img {
    max-width: 3rem;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 0px rgba(34, 34, 34, .5);
    transition: .3s;
}