<section id="sobre" class="justify-content-center">
    <div class="container justify-content-center">
      <div class="row text-sobre">
        <h2>Sobre</h2>
        <p>
          O boxe de Garagem Nasceu em 27/09/2020, incialmente equipado para personal training.<br />
          Com grande procura e por já ter conhecimento em dar formação, resolvi difundir os conhecimentos da nobre arte.<br />
          Os treinos são sempre elaborados pensando nos elementos do Boxe, como movimentação de guarda, golpes, etc...<br />
          A didática e abordagem das aulas são claras e objetivas, cada aluno tem sua individualidade biológica respeitada.<br />
          Buscamos conhecimento para atuar sempre dentro dos pilares e adotando o lema de que "Disciplina e Respeito."
        </p>
      </div>
      <div class="row justify-content-around align-items-center">
        <div class="col-md-4 col-sm-12 col-xs-12 sobre">
          <figure>
            <img src="assets/img_anterior/03.png" />
          </figure>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 profileText">
          <div class="detail-description">
              <h3>Profº Douglas</h3>
              🥊 Treinador<br>
              🥊 Árbitro<br>
              💆🏾‍♂️ Liberação miofascial<br>
              👨🏿‍🎓 Acadêmico em Ed física (Bacharel)<br>
          </div>
        </div>
      </div>
    </div>
  </section>